@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --golden: #BF953F;
}

body {
    font-family: 'Poppins';
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

/*===========================================NAV-BAR================================*/
.nav-bar {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.head {
    max-width: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.head img {
    width: 50px;
    filter: drop-shadow(5px 5px 5px black);
}

.head #red {
    background-color: rgb(255, 0, 0);
    width: 50px;
    border-radius: 100%;
}

.head #yellow {
    background-color: rgb(255, 234, 0);
    width: 50px;
    border-radius: 100%;
}

.head #green {
    background-color: rgb(0, 255, 13);
    width: 50px;
    border-radius: 100%;
}

.heading {
    font-weight: 200;
    font-family: 'Heebo';
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 80, 5);
    padding: 0 20rem;
    padding-top: 12px;
    height: 3rem;
    width: 1240px;
}

#nav-bar a {
    color: rgba(255, 255, 255, 0.764);
    text-decoration: none;
}

/*=================================COVER SECTION=====================================*/

.cover-section img {
    display: inline-block;
    width: 1240px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 4rem;
    filter: contrast(120%);
    filter: drop-shadow(10%);
}

#text {
    width: 50vw;
    height: 100px;
    color: var(--golden);
    font-family: 'Cinzel';
    text-align: center;
    padding-top: 8.5rem;
    z-index: 1;
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    justify-self: center;
    filter: contrast(110%);
    filter: brightness(130%);
}

#text h1 {
    text-shadow: 0 1px yellow, 0 0 10px orange, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px;
}

#text h6 {
    color: white;
    text-shadow: 0 2px var(--golden), 0 0 10px var(--golden), 0 0 20px var(--golden), 0 0 30px var(--golden), 0 0 40px;
}

#text .button button {
    margin-top: 1.5rem;
    height: 45px;
    width: 100px;
    border-radius: 7px;
    background-color: yellow;
    font-family: 'Poppins';
}

/*================================ABOUT SECTION===============================*/
.about-section {
    max-width: 1240px;
    width: 100%;
    padding-left: 30px;
    display: flex;
    gap: 100px;
    margin-bottom: 40px;
}

.left-section img {
    width: 300px;
    margin-bottom: 20px;
}

.left-section h1 {
    margin-bottom: 20px;
}

.story h3 {
    margin-bottom: 20px;
}

.story p {
    width: 300px;
}

.right-section {
    margin-top: 70px;
}

.right-section h2 {
    margin-bottom: 20px;
}

.menu-section {
    max-width: 900px;
    display: flex;
    gap: 20px;
}

/*=======================================MENU-SECTION==========================================*/
.menu-section img {
    width: 250px;
    height: 300px;
}

.menu-section #images {
    width: 250px;
    height: 420px;
    background-color: rgb(82, 81, 79);

}

.menu-section .title {
    margin-top: 10px;
    max-width: 200px;
    width: 100%;
    color: white;
    padding-left: 20px;
}

.title h6 {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.763);
    ;
}

.menu-section .prise {
    color: rgba(255, 255, 255, 0.763);
    margin-left: 70%;
}

hr {
    border: 1.5px solid black;
    margin-bottom: 50px;
    width: 1240px;
}

 /*=============================HERO===============================*/
.hero-section {
    max-width: 1240px;
    width: 100%;
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
    padding-left: 30px;
}

.contact-section img {
    width: 300px;
}

.contact-section h2 {
    margin-bottom: 20px;
}

.address {
    max-width: 516px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.location h5 {
    margin: 10px 0;
    font-weight: 300;
}

.location button {
    background-color: green;
    width: 60px;
    height: 20px;
    border-radius: 9px;
    margin-left: 50%;
}

.gimages img {
    width: 195px;
}

 /*====================FOOTER==============================*/
.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(76, 75, 75);
    padding: 0 20rem;
    padding-top: 12px;
    height: 4rem;
}

.footer h3 {
    color: var(--golden);
    font-family: 'Cinzen';
}

.footer img {
    width: 30px;
    height: 30px;
}


  /* MEDIA QUERIES (Responsive Design)

   For Tablet View */

@media screen and (max-width: 1024px) {
    .container, .nav-bar, #nav-bar, hr, .cover-section img {
        width: 100%;
        padding-left: 0;
    }

    #nav-bar, .footer {
        padding: 10px 2rem;
        height: auto;
    }

    .about-section, .hero-section { 
        align-items: center;
        gap: 40px;
        padding: 20px;
    }
    .hero-section{
        flex-direction: column-revrse; 
        align-items: center;
        gap: 40px;
        padding: 20px;
    }

    .menu-section {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Mobile View (max-width 768px) */
@media screen and (max-width: 768px) {
    
    
    .nav-bar {
        padding: 10px;
    }
    
    #nav-bar {
        flex-direction: column; 
        align-items: center;
        gap: 10px;
        padding: 15px 0;
    }

    
    #text {
        width: 90%;
        font-size: 1.2rem; 
        padding-top: 4rem; 
    }
    
    .cover-section img {
        height: 300px; 
    }

   
    .about-section {
        text-align: center;
    }
    
    .left-section img {
        width: 100%;
        max-width: 300px;
    }
    
    .story p {
        width: 100%; 
    }

    .menu-section {
        flex-direction: column;
        align-items: center;
    }
    
    .hero-section {
        padding: 10px;
        flex-direction:colummn-reverse;
    }

    .contact-section, .gallery {
        width: 100%;
        text-align: center;
    }

    .address {
        flex-direction: column;
        align-items: center;
    }

    .contact-section img {
        width: 100%;
        max-width: 200px;
    }

    .location button {
        margin-left: 0; 
    }

    
    .gimages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .footer {
        flex-direction: column;
        gap: 15px;
        text-align: center;
        padding: 20px 10px;
    }
}
